.draft {
    border: 1px solid #1abc9c;
    border-radius: 5px;
}

.draft-toolbar, .draft-editor {
}

.draft-toolbar {
    padding: 8px 20px;
    background: #1abc9c;
}

.draft-toolbar-group {
    display: inline-block;
}

.draft-toolbar .draft-toolbar-group:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #b9fff1;
}

/*@media screen {*/
    /*.draft-toolbar-group {*/
        /*display: block;*/
        /*margin-right: 0;*/
        /*padding-right: 0;*/
        /*border-right: 0;*/
    /*}*/
/*}*/

.draft-toolbar-button {
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    border: none;
    fill: #b9fff1;
    cursor: pointer;
}

.draft-toolbar-button:hover {
    color: #fff;
    fill: #fff;
}

.draft-toolbar-divider {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #b9fff1;
    height: 16px;
}

.draft-editor {
    padding: 15px 30px;
    min-height: 100px;
}

.public-DraftEditorPlaceholder-root {
    float: left;
    z-index: 0;
}